body {
  height: 13000px;

}

#container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*background-color: #99f1ff;*/
  background-image: url("images/smw-bg-sky1.png");
  background-size: cover;
}

.yoshi-container {
  position: absolute;
  left: 20%;
  bottom: 150px;
  width: 500px;
  height: 275px;
}

.yoshi {
  position: absolute;
  bottom: 0;
  background: url('images/YoshiTest2.gif') no-repeat 32.435% 3.187%;
  	width: 51px;
  	height: 60px;
}

.comment-box {
  position: absolute;
  left: 100px;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  background-color: #fff;
  border: 3px solid grey;
  padding: 25px;
  box-sizing: border-box;
}

.comment-box:before {
   content:"";
   position: absolute;
   right: 90%;
   top: 170px;
   width: 0;
   height: 0;
   border-top: 23px solid transparent;
   border-right: 62px solid #fff;
   border-bottom: 23px solid transparent;
   transform: rotate(-34deg);
}

/*.comment-box p {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
  typing 3.5s steps(40, end),
  blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {width: 0}
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}*/


/*.comment-box-bottom {
  position: absolute;
  left: 100px;
  top: 110px;
  width: 100px;
  height: 100px;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  background-color: black;
  border: 3px solid grey;
}*/

.image2 {
  position: absolute;
  height: 150px;
  width: 4000px;
  left: 0;
  bottom: 0;
  /*overflow: hidden;*/
  background-image: url("images/ground-copy.png");
  background-repeat: repeat;
}

.ground2 {
  position: absolute;
  height: 50px;
  width: 600px;
  left: 1300px;
  bottom: 150px;
  overflow: hidden;
  background-image: url("images/ground-copy.png");
  /*background-color: black;*/
  background-repeat: repeat
  z-index
}

.cloud-layer-1 {
  position: absolute;
  height: 900px;
  width: 4000px;
  left: 0;
  top: 0;
}

.cloud-layer-2 {
  position: absolute;
  height: 900px;
  width: 4000px;
  left: 0;
  top: 0;
}

.cl1-cloud1 {
  position: absolute;
  left: 0;
  top: 100px;
}

.cl1-cloud2 {
  position: absolute;
  left: 500px;
  top: 250px;
}

.cl1-cloud3 {
  position: absolute;
  top: 150px;
  left: 850px;
}

.cl1-cloud4 {
  position: absolute;
  top: -40px;
  left: 1300px;
}

.cl1-cloud5 {
  position: absolute;
  top: 150px;
  left: 1550px;
}

.cl1-cloud6 {
  position: absolute;
  top: 50px;
  left: 1950px;
}

.cl2-cloud1 {
  position: absolute;
  left: 0;
  top: 0;
}

.cl2-cloud2 {
  position: absolute;
  left: 330px;
  top: 250px;
}

.cl2-cloud3 {
  position: absolute;
  top: 100px;
  left: 620px;
}

.cl2-cloud4 {
  position: absolute;
  top: 140px;
  left: 1200px;
}

.cl2-cloud5 {
  position: absolute;
  top: 75px;
  left: 1000px;
}

.cl2-cloud6 {
  position: absolute;
  top: 140px;
  left: 1200px;
}

.cl2-cloud7 {
  position: absolute;
  top: 140px;
  left: 1200px;
}

.cl2-cloud1, .cl2-cloud2, .cl2-cloud3, .cl2-cloud4, .cl2-cloud5, .cl2-cloud6, .cl2-cloud7 {
  width: 140px;
  height: 60px;
}

.coin-block-1 {
  width: 50px;
  height: 50px;
}

.flip {
  transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -khtml-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
}



.sprite-run {
	background: url('images/YoshiTest2.gif') no-repeat -10px -304px;
	width: 52px;
	height: 60px;
}

@keyframes run {
  100% { background-position: -583px -304px; }
}

.animate-run {
  animation: run 1.5s steps(9);
}


/*SECOND ANIMATION*/

.sprite-jump {
	background: url('images/yoshiTest2.gif') no-repeat -10px -102px;
	width: 50px;
	height: 66px;
}

@keyframes jump {
  100% { background-position: -192px -102px; }
}

.animate-jump {
  animation: jump .9s steps(3);
}

@keyframes jumpvert {
  0% { transform: translate(0px, 0px); }
  50% { transform: translate(0px, -60px); }
  100% { transform: translate(0px, 0px); }
}

.animate-jump-vert {
  /*transition: all linear;*/
  animation: jumpvert 1.1s;
}








.coins {
  position: absolute;
  bottom: 315px;
  width: 400px;
  background-color: black;
}

.coin-block-1 {
  position: absolute;
  left: 900px;
}
